<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestaurantsInTown</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Restaurants In Town</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <br>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" href="/">Login</a>
            If you have an account or
            <a class="text-primary" href="/">Register</a>
            now and check our restaurants.
        </h3>
    </div>
</main>
</body>
</html>