<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add restaurant</span></h1>
  <hr class="hr-3 w-25 bg-white"/>

  <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/restaurants/add}" th:object="${restaurantData}">

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="name" class="h4 mb-2">Name</label>
      </div>
      <input id="name" type="text" class="form-control" th:field="*{name}" th:errorclass="'is-invalid alert-danger'"
             placeholder="Put restaurant name here">
      <small class="invalid-feedback text-danger">Name error message</small>
    </div>

    <div class="form-group">
      <label class="text-white h4 mb-2" for="imageUrl">Image URL</label>
      <input id="imageUrl" type="url" class="form-control" th:field="*{imageUrl}" th:errorclass="'is-invalid alert-danger'"
             placeholder="Put restaurant image URL here">
      <small class="invalid-feedback text-danger">Restaurant image URL error message</small>
    </div>

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="location" class="h4 mb-2">Location</label>
      </div>
      <input id="location" type="text" class="form-control" th:field="*{location}" th:errorclass="'is-invalid alert-danger'"
             placeholder="Put restaurant location here">
      <small class="invalid-feedback text-danger">Location error message</small>
    </div>

    <div class="form-group">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="description" class="h4 mb-2">Description</label>
      </div>
      <textarea type="text" class="form-control" id="description" name="description" placeholder="Put restaurant description here" th:field="*{description}" th:errorclass="'is-invalid alert-danger'"></textarea>
      <small class="invalid-feedback text-danger">Description error message</small>
    </div>

    <div class="form-group">
      <div class="text-white label-holder d-flex justify-content-center">
        <label for="category" class="h4 mb-2">Category</label>
      </div>
      <select class="browser-default custom-select" id="category" name="category" th:field="*{category}" th:errorclass="'is-invalid alert-danger'">
        <option value="">Select category</option>
        <option value="CAFE">Cafe</option>
        <option value="PUB">Pub</option>
        <option value="FINE_DINING">Fine dining</option>
        <option value="FAST_FOOD">Fast food</option>
      </select>

      <small class="invalid-feedback text-danger">Category error message</small>
    </div>

    <div class="button-holder d-flex justify-content-center">
      <button type="submit" class="btn btn-warning  mb-3" value="Add Restaurant">Add restaurant</button>
    </div>

  </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
